{% extends 'base.html.twig' %}

{% block title %}Streemi - Profil{% endblock %}

{% block body %}
<div class="flex min-h-screen">
    {% include 'parts/left-sidebar.html.twig' %}
    <main class=" flex-1 py-10  px-5 sm:px-10 ">
    </main>
</div>
{% endblock %}


